@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: PP Pangram Sans Roundeds;
  src: url('/font/Pangram_Sans_Rounded/PPPangramSansRounded-Bold.otf');
  /* src: url('/font/Pangram_Sans_Rounded/PPPangramSansRounded-CompressedExtrabold.otf'); */
  /* src: url('/font/Pangram_Sans_Rounded/PPPangramSansRounded-NarrowSemibold.otf'); */
  /* src: url('/font/Pangram_Sans_Rounded/PPPangramSansRounded-Semibold.otf'); */
}
@font-face {
  font-family: PP Pangram Sans Rounded;
  src: url('/font/Pangram_Sans_Rounded/PPPangramSansRounded-CompressedExtrabold.otf');
}

html,
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section {
  scroll-margin-top: 2rem;
}
@media (min-width: 992px) {
  h1 {
    font-size: 60px;
  }
}

/* text color */
.text-gray {
  color: #bdbdbd;
}
.font-family-pp {
  font-family: PP Pangram Sans Rounded;
  letter-spacing: 1.5px;
}
.font-family-pps {
  font-family: PP Pangram Sans Roundeds;
  letter-spacing: 1.5px;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.w-90 {
  width: 90% !important;
}
/* header navbar */
#header-nav.fixed-top {
  position: fixed;
  background: #091030 !important;
  padding-top: 0.36em;
  padding-bottom: 0.36em;
}

.navbar-light {
  background-color: #0f1233;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-weight: 100;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('/images/toggle_navbar.png');
}
@media (max-width: 991.98px) {
  .navbar-light .navbar-nav {
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-item:not(:last-child) {
    border-bottom: 1px solid #352c78;
  }
}

/* Content header */
.banner {
  display: block;
  width: 100%;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url('/images/bg-banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.banner h1 {
  color: white;
  font-weight: 900;
}

.banner .color_mode {
  color: #fdd01b;
}

.color_modes {
  background: -webkit-linear-gradient(286deg, #fdd01b 3.59%, #ef2a24 89.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .btn_join {
  background: #fdd01b;
  border-radius: 40px;
  display: inline-block;
  padding: 13px 25px;
  color: #1d193a;
}

/* section down scroll */
.down_scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* content about */
@media (min-width: 992px) {
  .about .about_content {
    max-width: 720px !important;
  }

  .about .about_content p {
    color: #fdd01b;
  }
}
@media (max-width: 991.98px) {
  .about .about_content p {
    color: #fdd01b;
  }
}

/* content super_Bull */
@media (min-width: 1199.98px) {
  .super_Bull {
    /* background-image: url('/images/bg-section2.png'); */
    background-image: url('/images/bg-section.png');
  }
}

@media (max-width: 1199px) {
  .super_Bull {
    display: block;
    width: 100%;
    transform-origin: top;
    -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1)
      forwards;
    animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    background-image: url('/images/bg-section.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.super_Bull .super_Bull_content a.btn.text-light {
  border: none;
  background: -webkit-linear-gradient(286deg, #fdd01b 3.59%, #ef2a24 89.38%);
  border-radius: 100px;
  width: 137px;
  height: 137px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  padding-top: 47px;
  margin-right: 10px;
}
@media (max-width: 991.98px) {
  .super_Bull .super_Bull_content a.btn.text-light {
    width: 90px;
    height: 90px;
    padding-top: 30px;
  }
}

.super_Bull_content .image-super {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -58%);
}

.super_Bull_content .image-super img {
  width: 150%;
}

@media (min-width: 992px) {
  .super_Bull_content--block {
    margin-top: 7rem;
  }
  .super_Bull_content--block .text-super {
    width: 85%;
    padding-left: 3rem;
    padding-right: 5rem;
  }
}
/* down_scrolls */
.down_scrolls {
  display: block;
  width: 100%;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url('/images/bg-section.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* content nft */
.nft_token .nft_token--carousel .swiper.swiper_carousel {
  overflow-x: clip;
  overflow-y: visible;
}
.nft_token .nft_token--carousel .swiper_content img {
  border-radius: 17px;
}

.nft_token .nft_token--carousel .swiper-button-next,
.nft_token .nft_token--carousel .swiper-button-prev {
  top: 110%;
  bottom: 0;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nft_token .nft_token--carousel .swiper-button-next,
  .nft_token .nft_token--carousel .swiper-button-prev {
    top: 105%;
  }
}
.nft_token .nft_token--carousel .swiper-button-prev {
  left: 45%;
}

.nft_token .nft_token--carousel .swiper-button-next {
  right: 45%;
}
@media (max-width: 991px) {
  .nft_token .nft_token--carousel .swiper-button-prev {
    left: 30%;
  }

  .nft_token .nft_token--carousel .swiper-button-next {
    right: 30%;
  }
}
.nft_token .nft_token--carousel .swiper-button-prev a,
.nft_token .nft_token--carousel .swiper-button-next a {
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  padding: 0 19px;
  transition: 0.3s ease-in;
}
.nft_token .nft_token--carousel .swiper-button-prev a:hover,
.nft_token .nft_token--carousel .swiper-button-next a:hover {
  border: none;
  background: -webkit-linear-gradient(286deg, #fdd01b 3.59%, #ef2a24 89.38%);
  transition: 0.3s ease-in;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* content partner, nft, tokenomic, roadmap */
.about,
.nft_token,
.partner,
.roadmap,
.tokenomic {
  display: block;
  width: 100%;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url('/images/bg-section.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* tokenomic */
.tokenomic {
  padding-top: 6rem;
}
@media (max-width: 575.98px) {
  .image_title {
    width: 35%;
  }
  .image_titles {
    width: 30%;
  }
}
@media (min-width: 576px) {
  .image_title,
  .image_titles {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .image_titles {
    width: 100% !important;
  }
}
/* content roadmap */
.roadmap .module_border-wrap {
  position: relative;
  background: linear-gradient(131.65deg, #fdd01b 3.59%, #ef2a24 89.38%);
  padding: 1px;
  margin: 1rem 0;
  border-radius: 10px;
}

.roadmap .module_border-wrap .module {
  background: #1d193a;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

/* content charity */
.charity {
  display: block;
  width: 100%;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url('/images/bg-section5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

@media (max-width: 991.98px) {
  .charity {
    background-image: url('/images/charity2.png');
  }
}
.charity .btn.btn_charity {
  border: none;
  background: -webkit-linear-gradient(286deg, #fdd01b 3.59%, #ef2a24 89.38%);
  border-radius: 100%;
  width: 180px;
  height: 180px;
  justify-content: center;
  align-items: center;
  padding-top: 77px;
  color: white;
}

.charity .carousel-item {
  text-align: -webkit-center;
}

.charity .carousel .carousel-control-next {
  right: 5%;
  opacity: 1;
}

.charity .carousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 0;
  border-bottom: none;
  border-radius: 50px;
  background-clip: initial;
}

.charity .carousel .carousel-indicators .active {
  background-color: #f7921d;
}

/* footer */
.footer {
  display: block;
  width: 100%;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url('/images/bg-section.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .footer_copyright {
  border-top: 1px solid #352c78;
}

.footer .footer_copyright .text {
  color: #828282;
  font-size: 14px;
}
.footer tr {
  border-style: hidden !important;
}
/* Disable smooth scrolling when users have prefers-reduced-motion enabled   */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* telegram sticky top */
.tlg_sticky {
  position: fixed;
  bottom: 2%;
  right: 0;
  z-index: 999;
}
